@import "tailwindcss";

@layer base {
  :root {
    --bg-color-nav: #dbfce6;
    --bg-color-main: #effcf3;
    --bg-color-menu: #dbfce6;
    --bg-color-menu-hovered: #c7e5d1;
    --bg-color-menu-selected: #268033;
    --font-color: #16532a;
    --border-color-main: #b9fbc0;
    --border-color: #c1dacb;
    --border-focus-color: #268033;
    --button-bg-color-primary:#268033;
    --button-bg-color-secondary:#DBFCE6;
    --button-bg-color-hover-primary:#21742E;
    --button-bg-color-hover-secondary:#C7E5D1;
    --button-text-color-primary:#EFFCF3;
    --button-text-color-secondary:#16532A;
  }

  [data-theme="dark"] {
    --bg-color-main: #111827;
    --bg-color-aside: #1f2937;
    --bg-color-menu: #374151;
    --bg-color-menu-hovered: #4b5563;
    --bg-color-menu-selected: #9ca3af;
    --font-color: #f9fafb;

  }
}

a {
  white-space: nowrap;
}

/* Remove number input arrows in all browsers */
/* Remove number input arrows in Chrome, Safari, Edge */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input arrows in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Optional: Remove input focus outline globally (usually not recommended for accessibility) */
input:focus {
  outline: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px inherit inset !important;
  -webkit-box-shadow: 0 0 0px 1000px inherit inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 9999s ease-in-out 0s;
}

